<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hero</key>
	<dict>
		<key>init</key>
		<dict>
			<key>initAnimation</key>
			<string>idleAnim</string>
		</dict>
		<key>animations</key>
		<dict>
			<key>idleAnim</key>
			<dict>
				<key>atlasName</key>
				<string>HeroIdle</string>
				<key>filenamePrefix</key>
				<string>HeroIdle</string>
				<key>animationFrames</key>
				<array>
					<string>00</string>
					<string>01</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
			<key>walkingAnim</key>
			<dict>
				<key>atlasName</key>
				<string>HeroRunning</string>
				<key>filenamePrefix</key>
				<string>HeroRunning</string>
				<key>animationFrames</key>
				<array>
					<string>00</string>
					<string>01</string>
				</array>
				<key>delay</key>
				<real>0.2</real>
			</dict>
		</dict>
	</dict>
	<key>Projectile</key>
	<dict>
		<key>init</key>
		<dict>
			<key>initAnimation</key>
			<string>defaultAnim</string>
		</dict>
		<key>animations</key>
		<dict>
			<key>defaultAnim</key>
			<dict>
				<key>atlasName</key>
				<string>Projectile</string>
				<key>filenamePrefix</key>
				<string>Projectile</string>
				<key>animationFrames</key>
				<array>
					<string>00</string>
				</array>
				<key>delay</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
